*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
 

/*-----bible-quiz----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.quiz-bg {
  font-family: 'Poppins', sans-serif;
  background: #b9b3a9;
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  padding: 20px;
  margin-top: 80px;
  background-color:rgb(10, 185, 127);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: aliceblue;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}
.topnav{
    background-image: linear-gradient(rgba(4, 9,30, 0.7),rgba(4, 9, 30, 0.7)),url();
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 180px;
}
nav img2{
    width: 300px;
}
nav img4{
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}
.nav-links ul li a{
    color: #ffc400;
    text-decoration: none;
    font-size: 13px;
}
 
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.background{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(2, 66, 68),rgb(2, 27, 43)),url();
    background-size: cover;
    position: relative;
}
.logo2{
  font-size: 12px;
  font-weight: 500;
  color: rgba(243, 99, 16, 0.795);
  font-size: large;
  font-style: oblique;
  font-family:sans-serif;
  position: relative;
  text-align: left;
  margin-top: 0.5cm;
}